html {
  font-size: 14px;
  font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

@media screen and (max-width: 1080px) {
  main {
    padding-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 52px;
  }

  html {
    font-size: 15px;
  }
}

/*reset.cssの代わり*/
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0;
}

/*コンテンツの幅設定*/
.content-width {
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .content-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*横並びの設定*/
.contents-tidy {
  display: flex;
  justify-content: space-between;
}

/*リンクの表示*/
a {
  color: #222;
  text-decoration: none;
}

/*hoverの動作*/
.hover-opacity:hover { 
  opacity: .7;
}

img {
  border: 0;
  vertical-align: middle;
  width: 100%;
}

/*ヘッダーのスタイル*/
.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-logo-pc {
  width: auto;
  height: 20px;
}

.header-logo-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .site-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .header-logo-pc {
    display: none;
  }
  
  .header-logo-sp {
    display: inline-block;
    width: auto;
    height: 16px;
  }
}

.header-nav-list {
  align-items: center;
}

.header-nav-list > li + li {
  margin-left: 30px;
}
  
.header-nav-item {
  display: block;
}

.header-nav-item > span {
  display: block;
  font-weight: bold;
  text-align: center;
}

.header-nav-item > span:first-child {
  font-family: 'Lato', sans-serif;
}

.header-nav-item > span:last-child {
  font-size: 10px;
}

@media screen and (max-width: 1080px) {
  .site-header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
  }
  
  .header-nav-list {
      overflow-y: scroll;
      position: fixed;
      top: 60px;
      left: 100%;
      width: 100%;
      display: block;
      padding-top: 20px;
      padding-bottom: 75px;
      transition: transform 0.5s;
      z-index: 99;
      background-color: rgba(0, 0, 0, 0.8);
      -webkit-overflow-scrolling: touch;
  }
}

.header-button {
  width: 150px;
}

.link-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f79314;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 60px;
  font-size: 20px;
  border: none;
}

.link-button.menu {
  height: 40px;
  font-size: 12px;
}

/*ハンバーガーリスト*/
.header-nav-hamburger {
  display: none;
}

@media screen and (max-width: 1080px) {
  .header-nav-hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
  }
  
  .header-nav-hamburger-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top .2s, transform .2s, opacity .3s;
  }
  
  .header-nav-hamburger-line:first-child {
    top: 0;
  }
  
  .header-nav-hamburger-line:last-child {
    top: 100%;
  }
}
  
// コース・料金見出し
.section-underlayer-hero.course {
  background-image: url(images/course-hero-pc.png);
}

.section-underlayer-hero {
  background-image: url(images/course-hero-pc.png);
  padding-top: 70px;
  padding-bottom: 71px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px;
  background-color: #f79314;
}

@media screen and (max-width: 767px) {
  .section-underlayer-hero.course {
    background-image: url(images/course-hero-sp.png);
  }
  
  .section-underlayer-hero {
    background-size: 100%;
    padding-top: 42px;
    padding-bottom: 90px;
    background-size: contain;
  }
}

@media screen and (max-width: 374px) {
  .section-underlayer-hero.course {
    background-image: url(images/course-hero-sp.png);
    padding-top: 35px;
    padding-bottom: 75px;
  }
}

.underlayer-hero-heading {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  padding-left: 110px;
}

.underlayer-hero-heading.course {
  padding-left: 145px;
}

@media screen and (max-width: 767px) {
  .underlayer-hero-heading.course {
    padding-left: 0px;
  }
  
  .underlayer-hero-heading {
    padding: 0;
    font-size: 22px;
    text-align: center;
    line-height: 1.3;
  }
}

// potepancampコースについて
.main-section {
  padding-top: 75px;
  padding-bottom: 80px;
  // background-color: #fcfaf5;
}

.main-section.course-detail {
  background-color: #fcfaf5;
  padding-top: 75px;
  padding-bottom: 80px;
}

.section-header.contents-tidy {
  flex-direction: column;
  align-items: center;
}

.section-header {
  width: 100%;
}

.section-main-header {
  font-size: 46px;
  font-weight: bold;
}

.section-header h2 > span {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .section-main-header {
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
  }
  
  .section-header h2 > span {
    letter-spacing: 1px;
    font-size: 30px;
    display: block;
  }
}

.bottom-line::after {
  content: '';
  display: block;
  border-bottom: solid 6px #f79314;
  width: 50px;
  margin-top: 20px;
}

.section-content {
  margin-top: 60px;
}

.detail-text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.pc-br {
  display: block;
}

.detail-text--emphasis {
  margin-top: 24px;
  font-size: 20px;
  font-weight: bold;
}

.under-decoration > br {
  display: none;
}

@media screen and (max-width: 767px) {
  .section-content {
    margin-top: 50px;
  }
  
  .detail-text {
    font-size: 15px;
    text-align: left;
  }
  
  .pc-br {
    display: inline;
  }
  
  .detail-text--emphasis {
    font-size: 16px;
    text-align: center;
  }
  
  .under-decoration > br {
    display: block;
  }
}

.under-decoration {
  background: linear-gradient(transparent 70%, #fff79d 70%, #fff79d);
  word-wrap: break-word;
}

.detail-point {
  margin-top: 100px;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  background-color: #fff;
}

.list-no {
  background-color: #fff;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -90px auto 0 auto;
  border-radius: 50%;
  color: #f79314;
  font-weight: bold;
  font-size: 40px;
}

.list-no-image {
  width: 40px;
  margin-top: -8px;
}

.detail-point-title {
  margin-top: -20px;
  font-size: 30px;
  line-height: 36px;
}

.detail-cassette {
  width: 31%;
  margin-top: 40px;
}

.detail-cassette-title {
  color: #fff;
  background-color: #222;
  padding: 4px;
  border-radius: 15px;
}

.detail-cassette-text {
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
}

.detail-cassette-image {
  margin-top: 16px;
}

.detail-cassette-text::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 20px;
  margin-right: 10px;
  background: url(images/icon-finger.png) no-repeat;
  background-size: 100%;
}

@media screen and (max-width: 767px) {
  .detail-point {
    margin-top: 80px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .list-no {
    width: 80px;
    height: 80px;
    margin-top: -70px;
  }
  
  .list-no-image {
    width: 32px;
  }
  
  .detail-point-title {
    font-size: 20px;
  }
  
  .detail-box {
    flex-direction: column;
  }
  
  .detail-cassette {
    width: 100%;
    margin-top: 36px;
  }
  
  .detail-cassette-title {
    font-size: 15px;
  }
  
  .detail-cassette-text {
    font-size: 15px;
  }
  
  .detail-cassette-text::before {
    vertical-align: sub;
  }
}

.detail-course-block-box {
  margin-top: 60px;
  padding: 0 40px 0;
  display: flex;
  text-align: center;
}

.detail-course-block:first-child {
  margin-right: 25px;
}

.detail-course-block {
  width: 48.5%;
  border-collapse: separate;
  border: 1px solid #7070701A;
  border-radius: 10px;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .detail-course-block-box {
    overflow-x: auto;
    padding: initial;
    display: block;
  }
  
  .detail-course-block:first-child {
    margin-right: initial !important;
    margin-bottom: 60px;
  }
  
  .detail-course-block {
    min-width: initial !important;
    width: initial !important;
  }
}

.detail-course-head {
  background-color: #F79314;
  font-family: NotoSansCJKjp-Bold, Arial, Helvetica, sans-serif;
  color: white;
  padding: 18px;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}

.detail-course-head > span {
  font-size: 14px;
}

.detail-course-head > p {
  font-size: 20px;
  margin-top: 3px;
}

.detail-course-content:nth-child(even) {
  background-color: #fffdfa;
}

.detail-course-content {
  padding: 18px;
}

.detail-course-content:nth-child(odd) {
  background-color: #fff8ea;
}

.detail-course-content-price {
  font-size: 28px;
  font-family: Lato-Black;
  font-weight: bold;
  margin: 10px 0px 20px;
}

.detail-course-content-price::before {
  content: "\FFE5";
  font-family: NotoSansCJKjp-Bold, Arial, Helvetica, sans-serif;
}

.detail-course-content-price::after {
  content: "\7A0E\5225";
  font-family: NotoSansCJKjp-Bold, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 4px;
}

.detail-course-content-body {
  font-family: Noto Sans CJK JP;
  font-size: 16px;
  color: #22222299;
  line-height: 2em;
  text-align: left;
  margin-bottom: 10px;
}

.detail-course-term {
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
}

.detail-course-content span {
  color: #F79214;
  margin-left: 5px;
}

.detail-course-anchor > a {
  color: #F79214;
  font-weight: bold;
}

.detail-course-anchor > a:before {
  content: "\203A";
  transform: matrix(0, 1, -1, 0, 0, 0);
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}

//////////// コースプラン/////////////
.main-section {
  padding-top: 75px;
  padding-bottom: 80px:
}

.main-section.course-plan {
  padding-top: 75px;
  // padding-bottom: 80px:
}

.plan-box {
  margin-top: 60px;
  padding: 40px;
  border-radius: 20px;
  background-color: #fcfaf5;
}

.plan-sub-head {
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.plan-head {
  max-width: 480px;
  margin: 0 auto;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #f79214;
  background: -webkit-linear-gradient(-40deg, #f79214, #f74e06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plan-head br {
  display: none;
}

.plan-cassettes {
  margin-top: 40px;
  padding: 16px 20px 20px;
  border-radius: 10px;
  background-color: #fff;
}

.plan-cassettes-head {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
}

.plan-cassettes-head::before {
  content: '';
  position: relative;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url(images/icon-point.png);
  background-size: 100%;
}

.list-content {
  justify-content: flex-start;
  align-items: baseline;
  padding-left: 8px;
  font-size: 16px;
  line-height: 26px;
}

.list-content::before {
  content: '';
  display: inline-block;
  min-width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #f79314;
}

.desc-title {
  align-items: center;
  width: 90px;
  margin-top: 20px;
  padding: 4px 26px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  color: #f79214;
  background-color: #fcfaf5;
}

.desc-title::before {
  content: '';
  display: inline-block;
  margin-top: 2px;
  margin-right: 6px;
  background-size: 100%;
}

.desc-title.detail::before {
  width: 17px;
  height: 17px;
  background-image: url(images/icon-pencil.png);
  vertical-align: middle;
}

.desc-text {
  margin-top: 20px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 18px;
}


@media screen and (max-width: 767px) {
  .plan-box {
    margin-top: 40px;
    padding: 20px;
  }
  
  .plan-head {
    font-size: 24px;
    line-height: 27px;
  }
  
  .plan-head br {
    display: block;
  }
  
  .plan-cassettes {
    margin-top: 20px;
  }
  
  .plan-cassettes-head {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .list-content {
    padding-left: 0;
  }
  
  .list-content + .list-content {
    margin-top: 10px;
  }
  
  .desc-title {
    margin-left: auto;
    margin-right: auto;
    padding-left: 22px;
    padding-right: 22px;
  }
  
  .desc-text {
    padding-left: 0;
    text-align: center;
  }
  
  .desc-text p + p {
    margin-top: 10px;
  }
  
  .desc-text.central {
    text-align: center;
  }
}

p {
  line-height: 1.5;
}

.desc-text + .desc-title {
  margin-top: 30px;
}

.desc-title.term::before {
  width: 16px;
  height: 18px;
  margin-left: 2px;
  background-image: url(images/icon-calender.png);
}

.desc-title.condition::before {
  width: 17px;
  height: 14px;
  margin-left: 2px;
  background-image: url(images/icon-condition.png);
}

.desc-title.fee::before {
  width: 20px;
  height: 20px;
  background-image: url(images/icon-coin.png);
}

.plan-cassettes-tools {
  display: flex;
  margin-top: 28px;
  display: flow-root;
}

.plan-cassettes-tool:nth-child(odd) {
  margin-right: 2%;
}

.plan-cassettes-tool {
  width: 49%;
  float: left;
}

.plan-cassettes-tool-box {
  padding: 13px 8px 18px;
}

@media screen and (max-width: 767px) {
  .plan-cassettes-tools {
    display: block;
    margin-top: 17px;
  }
  
  .plan-cassettes-tool:nth-child(odd) {
    margin-right: initial;
  }
  
  .plan-cassettes-tool {
    float: initial !important;
    width: initial !important;
  }
  
  .plan-cassettes-tool-box {
    padding: 13px 8px 30px;
  }
}

.plan-cassettes-tool-label {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 4px;
}

.plan-cassettes-tool-body {
  font-size: 16px;
}

.plan-cassettes-skipping {
  display: flow-root;
  padding: 20px;
}

.plan-cassettes-skipping-left {
  float: left;
  width: 90px;
  height: 90px;
  text-align: center;
  margin-right: 20px;
}

.plan-cassettes-skipping-right {
  float: right;
  display: contents;
}

.plan-cassettes-skipping-right > h4 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
}

.plan-cassettes-skipping-right > h4 > br {
  display: none;
}

.plan-cassettes-skipping-right > p {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .plan-cassettes-skipping {
    display: block;
    padding: 18px;
  }
  
  .plan-cassettes-skipping-left {
    float: initial;
    width: 65%;
    height: initial;
    max-width: 130px;
    margin: 0 auto 20px;
  }
  
  .plan-cassettes-skipping-right {
    float: initial;
    text-align: center;
  }
  
  .plan-cassettes-skipping-right > h4 {
    margin-bottom: 14px;
  }
  
  .plan-cassettes-skipping-right > h4 > br {
    display: block;
  }
  
  .plan-cassettes-skipping-right > p {
    text-align: left;
  }
}

.plan-cassettes-skipping-right>p>span {
  color: #F79214;
}

/////////////受講生の声///////////////////////
.main-section {
  padding-top: 40px;
}

.main-section.pick-up-contents {
  margin-top: 80px;
  padding-top: 40px;
  background-color: #F6F6F6;
  overflow: hidden;
  padding-bottom: 120px;
  position: relative;
}

.main-section.pick-up-contents > * {
   position: relative;
  z-index: 1;
}

.pick-up-contents > .content-width {
  background-image: url(images/bg-section-top-course.png);
  background-size: 281px 275px;
  background-repeat: no-repeat;
  background-position: calc(100% - 50px) top;
  padding-top: 35px;
}

.pick-up-contents-list.contents-tidy {
  justify-content: flex-start;
  // flex-wrap: wrap;
}

.pick-up-contents-list {
  margin-left: -20px;
  margin-right: -20px;
}

.pick-up-contents-cassettes {
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% / 3);
}

.pick-up-contents-media-thumbnail {
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 0;
  position: relative;
  padding-top: calc((190/320) * 100%);
}

.pick-up-contents-media-thumbnail > img {
  width: 100%;
  height: 145%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}

.pick-up-contents-media-text {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  line-height: 1.8;
}

.hover-text-color:hover {
  color: #F79214;
  transition: 0.1s;
}

a:hover .hover-scale {
  transform: scale(1.1);
  transition: 0.2s;
}

@media screen and (max-width: 767px) {
  .pick-up-contents-list {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .pick-up-contents-cassettes {
    animation: delay 60s infinite;
    max-width: 100%;
    margin: 10px auto;
    position: absolute;
    top: 0;
    right: 50;
    left: 50;
    opacity: 0;
    width: 90%;
  }
  
  @keyframes delay {
    0% {opacity: 0}
    10% {opacity: 1}
    50% {opacity: 0}
  }
  
  .pick-up-contents-cassettes.delay0 {
    animation-delay: 0s;
  }
  .pick-up-contents-cassettes.delay1 {
    animation-delay: 20s;
  }
  
  .pick-up-contents-cassettes.delay2 {
    animation-delay: 40s;
  }
  
}

/////////////////フッター/////////////
.site-footer {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #f79314;
}

.site-footer.footer {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #f79314;
}

.page-top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -105px;
  right: 50px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 12px 30px -15px;
  transition: 0.2s;
}

.page-top-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: solid 3px #f79214;
  border-top: solid 3px #f79214;
  transform: rotate(45deg);
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.footer-nav {
  order: 2;
}

.footer-nav > li + li {
    margin-top: 30px;
}

.footer-nav-item {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.footer-nav-item > span {
  font-weight: normal;
  margin-left: 1em;
}

.footer-character {
  order: 3;
  align-self: flex-end;
}

.footer-character  img {
  width: auto;
  height: 70px;
}

.footer-info {
  color: white;
  order: 1;
}

.footer-logo {
  display: inline-block;
  max-width: 280px;
}

.footer-logo > img {
  width: 100%;
  height: auto;
}

.footer-company {
  margin-top: 25px;
  font-weight: bold;
}

.footer-address {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.footer-social {
  margin-top: 35px;
  display: flex;
  padding: 0;
}

.footer-social > li {
  margin-left: 0;
  margin-right: 20px;
}

.footer-social-item {
  display: block;
  max-width: 60px;
}

.footer-social-item > img {
  width: 100%;
  height: auto;
}

.site-footer-sub {
  margin-top: 60px;
}

.footer-copyright {
  color: #fff;
  font-size: 12px;
}


@media screen and (max-width: 767px) {
  .site-footer {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  
  .site-footer.footer {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  
  .site-footer-main {
    display: block;
    text-align: center;
  }
  
  .page-top-button {
    top: -85px;
    right: 20px;
  }
  
  .footer-nav {
    text-align: left;
    margin-left: 20px;
  }
  
  .footer-character {
    margin-top: 50px;
  }
  
  .footer-info {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #fff;
  }
  
  .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer-address {
    text-align: center;
  }
  
  .footer-social {
    justify-content: center;
  }
  
  .site-footer-sub {
    text-align: center;
  }
}